html 
{
background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
background-size: 100% auto;
background-repeat: repeat;
background-color: tan;
}
body 
{
font-family: 'Armata', sans-serif;
}
.tooltip {
  position: relative;
}
.contact-left 
{
  float: left;
  margin-left: 20%;
  margin-bottom: 10%;
}
h1 
{
text-align: center;
margin-top: 5%;
color: #000b42;
font-weight: bold;
font-family: 'Press Start 2P', cursive;
}
}
.top-p 
{
text-align: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
line-height: 2em;
color: #FFF;
}
.interests-list {
color: #FFF;
list-style: none;
text-align: left;
margin-top: 3%;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{

    h1
    {
        font-size: 6em;

        color: #FFF;
    }

    body {
      font-size: 5em;

      color: #FFF;
    }
	  #form-div {
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width:250px;
		float: left;
		left: 50%;
		position: relative;
		margin-top:20px;
		margin-left: -175px;
	  }

	  .contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 13px;
		margin-bottom: 10px;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	  }

	  .contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	  }
	  textarea {
		  width: 100%;
		  height: 150px;
		  line-height: 150%;
		  resize:vertical;
	  }

	  input:hover, textarea:hover,
	  input:focus, textarea:focus {
		background-color:white;
	  }

	  #button-blue{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		float:left;
		width: 100%;
		border: #fbfbfb solid 4px;
		cursor:pointer;
		background-color: #0D2B21;
		color:white;
		font-size:24px;
		padding-top:22px;
		padding-bottom:22px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		margin-top:-4px;
		font-weight:700;
	  }

	  #button-blue:hover{
		background-color: rgba(0,0,0,0);
		color: #0493bd;
	  }
}
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
    h1
    {
        font-size: 5em;

        color: #FFF;
    }

    body {
      font-size: 4em;

      color: #FFF;
    }
	    #form-div {
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width:250px;
		float: left;
		left: 50%;
		position: relative;
		margin-top:20px;
		margin-left: -175px;
	  }

	  .contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 13px;
		margin-bottom: 10px;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	  }

	  .contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	  }
	  textarea {
		  width: 100%;
		  height: 150px;
		  line-height: 150%;
		  resize:vertical;
	  }

	  input:hover, textarea:hover,
	  input:focus, textarea:focus {
		background-color:white;
	  }

	  #button-blue{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		float:left;
		width: 100%;
		border: #fbfbfb solid 4px;
		cursor:pointer;
		background-color: #0D2B21;
		color:white;
		font-size:24px;
		padding-top:22px;
		padding-bottom:22px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		margin-top:-4px;
		font-weight:700;
	  }

	  #button-blue:hover{
		background-color: rgba(0,0,0,0);
		color: #0493bd;
	  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
    h1
    {
        font-size: 4em;

        color: #FFF;
    }

    body {
      font-size: 3em;

      color: #FFF;
    }
    }
	*/
	  #form-div {
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width:250px;
		float: left;
		left: 50%;
		position: relative;
		margin-top:20px;
		margin-left: -175px;
	  }

	  .contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 13px;
		margin-bottom: 10px;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	  }

	  .contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	  }
	  textarea {
		  width: 100%;
		  height: 150px;
		  line-height: 150%;
		  resize:vertical;
	  }

	  input:hover, textarea:hover,
	  input:focus, textarea:focus {
		background-color:white;
	  }

	  #button-blue{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		float:left;
		width: 100%;
		border: #fbfbfb solid 4px;
		cursor:pointer;
		background-color: #0D2B21;
		color:white;
		font-size:24px;
		padding-top:22px;
		padding-bottom:22px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		margin-top:-4px;
		font-weight:700;
	  }

	  #button-blue:hover{
		background-color: rgba(0,0,0,0);
		color: #0493bd;
	  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
    h1
    {
        font-size: 3em;

        color: #FFF;
    }

    body {
      font-size: 2em;

      color: #FFF;
    }
	  #form-div {
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width:250px;
		float: left;
		left: 50%;
		position: relative;
		margin-top:20px;
		margin-left: -175px;
	  }

	  .contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 13px;
		margin-bottom: 10px;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	  }

	  .contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	  }
	  textarea {
		  width: 100%;
		  height: 150px;
		  line-height: 150%;
		  resize:vertical;
	  }

	  input:hover, textarea:hover,
	  input:focus, textarea:focus {
		background-color:white;
	  }

	  #button-blue{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		float:left;
		width: 100%;
		border: #fbfbfb solid 4px;
		cursor:pointer;
		background-color: #0D2B21;
		color:white;
		font-size:24px;
		padding-top:22px;
		padding-bottom:22px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		margin-top:-4px;
		font-weight:700;
	  }

	  #button-blue:hover{
		background-color: rgba(0,0,0,0);
		color: #0493bd;
	  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
    h1
    {
        font-size: 2em;

        color: #FFF;
    }

    body {
      font-size: 100%;

      color: #FFF;
    }
	  #form-div {
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width: 450px;
		float: left;
		left: 50%;
		position: relative;
		margin-top:30px;
		margin-left: -230px;
	  }

	  .contact-input {
		color:#3c3c3c;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		line-height: 22px;
		background-color: #fbfbfb;
		padding: 13px 13px 13px 13px;
		margin-bottom: 10px;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		border: 3px solid rgba(0,0,0,0);
	  }

	  .contact-input:focus{
		background: #fff;
		box-shadow: 0;
		border: 3px solid #3498db;
		color: #3498db;
		outline: none;
		padding: 13px 13px 13px 13px;
	  }
	  textarea {
		  width: 100%;
		  height: 150px;
		  line-height: 150%;
		  resize:vertical;
	  }

	  input:hover, textarea:hover,
	  input:focus, textarea:focus {
		background-color:white;
	  }

	  #button-blue{
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		float:left;
		width: 100%;
		border: #fbfbfb solid 4px;
		cursor:pointer;
		background-color: #0D2B21;
		color:white;
		font-size:24px;
		padding-top:22px;
		padding-bottom:22px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		margin-top:-4px;
		font-weight:700;
	  }

	  #button-blue:hover{
		background-color: rgba(0,0,0,0);
		color: #0493bd;
	  }
}
